*{
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    list-style: none;
    text-align: left;
}

.park-list {
    border: 1px solid black;
}

#park-submit-button {
    width: 100px;
}